.accordion {
    /* box-sizing: border-box; */
    font-family: 'Montserrat';
    font-weight: 300;
    /* Space section box from left margin*/
    padding: 0;
    /* Hide bullets to the left of section box */
    list-style: none;
}

/* Indent submenus */
ul .accordion-inner {
    padding-left: 1em;
    overflow: hidden;
    display: none;
      /* Space section box from left margin*/
    padding: 5;
    /* Hide bullets to the left of section box */
    list-style: none;
    font-family:average;
}

/* Spacing between sections */
li .accordion-inner {
    margin: .7em 0;
}

/* Box arround each section */
li a.accordion-toggle {
    text-decoration: none;
    color: inherit;
    width: 50%;
    display: block;
    background:#F3DBB2;
    color: #000;
    padding: .45em;
    transition: background .3s ease;
     -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
     border-radius: 7px;
}

/* Hover effect on a sections */
li a.accordion-toggle:hover {
    background: #FFB067;
 }

.accordion a .fa-chevron-down {
  position: relative;
  /* green, top level  */
	color: #29d909;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion a.chev .fa-chevron-down {
	color: #c63b4d;
}

 .accordion a .fa-chevron-down {
  margin-left: 5px;
  margin-right: 15px;
  font-size: 18px;
}

.accordion a.chev .fa-chevron-down {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(180deg);
}


