#mytab table {
  border-collapse: collapse;
  width: 100%;
}

#mytab th, td {
  text-align: left;
  padding: 8px;
}

#mytab tr:nth-child(even){background-color: #f2f2f2}

#mytab th {
  background-color: #3579DC;
  color: white;
}
