.vertical-menu {
  width: 100%;
}


.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 13px;
  text-decoration: none;
  border-bottom:1px solid #eee;
  font-family:exo;
  width:100%;
} 

.vertical-menu a:hover {
  background-color: #ccc;
 
}

.vertical-menu a.active {
  background-color: #8E05C2;
  color: white;
  box-shadow: 10px 10px #BFA2DB;
}