.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #fff;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  border-bottom:1px dotted #60A3D9;
  /*border-right:1px solid #eee;*/
  font-family:exo;
  font-size:100%;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color:#005b96 ; /*#6495ED;*/
  color: white;
}